fieldset{
    border: none;
}

.contato{
    background: #C79F61; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center; 
}


.imgHamburgue{
    display: flex;
    height:700px;
}


h2{
    font-size: 4rem;
    font-family: 'Bungee Inline', cursive;
    color: #facf39;
    margin-top: 20px;
    -webkit-text-stroke: 1px #913301;
}



.formulario{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* min-width: 100%; */
    gap: 10px;
    height: 600px;
    width: 1400px;
    align-items: center;

}


label{
    font-family: 'Montserrat Alternates', sans-serif;
    display: block;
    padding: 2px;
}


.caixaForm{
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 380px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0, 0.6);
    border-radius: 15px;
     background: rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255,255,255, 0.5);
     border-left: 1px solid rgba(255,255,255, 0.5);
    

}


.mensagem{
    height: 100px;
    border-radius: 6px; 
    resize: none;
}

.textename{
    border-radius: 6px;
    border: none;
}

.texteEmail{
    border-radius: 6px;
    border: none;

}

.leftbutton{
    display: flex;
    justify-content: end;
    border-radius: 6px;
    
}


.button {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 8px 20px;
    background: #913301;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    color: #facf39;
}


.button:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #fff;
}




