@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat+Alternates&display=swap');

.produto{
  width:100vw;
  background: #C79F61;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.produto h1 {
  font-size: 4rem;
  font-family: 'Bungee Inline', cursive;
  color: #facf39;
  margin: 20px;
  -webkit-text-stroke: 1px #913301;
}

.container-cardapio {
  position: relative;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.card-lanche {
  position: relative;
  max-width: 260px;
  height: 360px;
  margin: 60px 30px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.6);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(255,255,255, 0.5);
  border-left: 1px solid rgba(255,255,255, 0.5);
  backdrop-filter: blur(5px);
}

.card-lanche:hover{
  transform: scale(1.03);
}

.card-lanche .imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 260px;
  height: 50px;
  left: -7%;
  top: -50px;
  filter: drop-shadow(4px 4px 4px #242424);
}


.card-lanche .content-descricao {
  font-family: 'Montserrat Alternates', sans-serif;
  position: relative;
  padding: 10px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-lanche .content-descricao p {
  font-size: 14px;
  color: #1C1C1C;
  margin-top: 10px;
  height: 130px;
}

.card-lanche .content-descricao a {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 8px 20px;
  margin-top: 15px;
  background: #913301;
  border-radius: 10px;
}

.card-lanche .content-descricao a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
}