* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 100px) {
    header {
        width: 100px;
    }


}

.inicio {
    background-repeat: no-repeat;
    background-image: url(./imagens/hambu.jpg);
    background-size: cover;
}

.img-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 100px;
}

#botaoImagem:hover {
    transform: scale(1.1);
}

#botoesHeader {
    font-family: 'Bungee Inline', cursive;
    padding-top: 10px;
}

#botoesHeader:hover {
    transform: scale(1.1);
}

header {

    justify-content: center;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #913301;
}

nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

a {
    color: #facf39;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    height: 70px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

/* footer{ 
    background-color: brown;
    margin: 100px auto;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: end; 
    align-items: center;
    
} */



/* stilizcao tala pag */