/* definir estilos iniciais para todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilizaçao para ficar responsivo */
@media(max-width: 100px) {
    header {
        width: 100px;
    }
}

/* Estilização do body da página index(home) */
.inicio {
    background-repeat: no-repeat;
    background-image: url(./imagens/hambu.jpg);
    background-size: cover;
    background-color: #121212;
    background-size: 100% 190%;
}

/* Conteudos dentro do header alinhados.  */
header {

    justify-content: center;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #913301;
}

/* Alinhamento do conteudo dos navegadores e seu tamanho.  */
nav {
    margin-bottom: 20px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/* Estilização de tamanhos e cores das palavras que são os botões.  */
a {
    color: #facf39;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    height: 70px;
}



.mainIndex{
    display: flex;
    flex-direction: row;
    
    
}


.imagemMain{
    width: 400px;
    height:220px ;
}

/* Definição de tamanho da imagem da logo no header  */
.imagemHeader {

    width: 500px;
    height: 100px;

}

/* Quando passar com mouse por cima do logo no header, a imagem aumenta um pouco sinalizando que se clicado vai ser redirecionado para outra página.  */
#botaoImagemHeader:hover {
    transform: scale(1.1);
    transition: 0.3s;

}

/* Estlização da fonte dos botões no header  */
#botoesHeader {
    font-family: 'Bungee Inline', cursive;
    padding-top: 10px;
}

/* Quando passar com mouse por cima dos botões no header, a imagem aumenta um pouco sinalizando que se clicado vai ser redirecionado para outra página.  */
#botoesHeader:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Alinhamento da imagem que ficou dentro da main.  */
.mainIndex {
    display: flex;
    justify-content: flex-end;

}


/* Definição de posição e cor do rodapé. */
footer {
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #913301;
    padding: 5px;
    
}

.blocoFooter{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    gap: 100px;
}

/* Rodapé da pagina inicial fixada no final da tela.  */
.rodapeIndex {
    position: fixed;
    padding: 5px;
}


/* Alinhamento do texto e cor dentro do rodapé.  */
p {
    padding-right: 15px;
    color: #00000099;
}

/* Quando passar com mouse por cima dos botões das redes socias no footer, a imagem aumenta um pouco sinalizando que se clicado vai ser redirecionado para outra página.  */
.imagemFooter:hover {
    transform: scale(1.1);
    transition: 0.3s;
}